[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/mvk-pupils/glfw.git
[submodule "libs/openvr"]
	path = libs/openvr
	url = https://github.com/mvk-pupils/openvr.git
[submodule "libs/OpenXR-SDK"]
	path = libs/OpenXR-SDK
	url = https://github.com/mvk-pupils/OpenXR-SDK
[submodule "libs/glew"]
	path = libs/glew
	url = https://github.com/mvk-pupils/glew.git
[submodule "libs/glew-2.1.0"]
	path = libs/glew-2.1.0
	url = https://github.com/mvk-pupils/glew-2.1.0.git
[submodule "libs/glad"]
	path = libs/glad
	url = https://github.com/mvk-pupils/glad
[submodule "libs/--name"]
	path = libs/--name
	url = https://github.com/mvk-pupils/glad-generated
[submodule "glad-generated"]
	path = libs/glad-generated
	url = https://github.com/mvk-pupils/glad-generated
